*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
.container{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.my-header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: goldenrod;
    color: white;
    align-items: center;
}
.search input{
    padding: 6px;
    width: 200px;
    border-radius: 5px;
    border: none;
    outline: none;
}
.search input::placeholder{
    font-size: 15px;
    color: gray;
    font-family: sans-serif;
}
.contain{
    width: 350px;
    height: auto;
    background-color: lightgray;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 6px;
}
.add{
    color: white;
}
.item{
    margin-top: 5px;
    display: flex;
    gap: 5px;
}
.item input{
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.item input::placeholder{
    font-family: monospace;
    font-size: 15px;
}
.item input:focus{
    border:1px solid rgb(218, 178, 77);
}
.item button{
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: goldenrod;
    color: white;
    font-weight: bold;
}
.all-list{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    box-sizing: border-box;
    overflow: hidden;
}
.all-list h3{
    color: white;
    font-family: sans-serif;
}
.ul{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.ul ul{
    margin-top: 5px;
    color: white; color: white;
    font-family:sans-serif;

}
.lii{
    width: 100%;
    padding: 5px;
    border: 0.3px solid goldenrod;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.lii p{
    color: white;
    font-family:sans-serif;
}
.button1{
    padding: 0 7px;
    color: white;
    border: none;
    border-radius: 3px;
    background-color: goldenrod;
    cursor: pointer;
}
.showborder{
    border: 0.3px solid green;
}
@media screen and (min-width:600px){
    .my-header{
        justify-content: space-around;
        gap: 0px;
    }
    .search input{
        padding: 16px;
        width: 500px;
        border-radius: 5px;
        border: none;
        outline: none;
    }
    .item-tittle h3{
        font-size: 40px;
    }
    .search input::placeholder{
        font-size: 20px;
    }
    .contain{
        width: 600px;
        height: auto;
        background-color: lightgray;
        padding: 10px;
        border-radius: 9px;
    }
    .add h3{
        font-size: 30px;
    }
    .item input{
        width: 400px;
        padding: 15px;
    }
    .all-list h3{
        font-size:25px;
    }
    .item button{
        padding: 12px;
        text-transform: uppercase;
        font-size: 20px;
    }
}